@use '@angular/material' as mat;

html {
  color-scheme: dark;

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  background: #0f1419;
  color: rgba(255, 255, 255, 0.87);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
